body {
    background-image: url("../images/Path\ 23.png");
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: bottom center;
    min-height: 100vh;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

.header-lower {
    max-width: 1000px;
}

.load-more {
    margin: 30px auto;
    font-family: 'poppins', sans-serif;
    border: none;
    color: #486581;
    text-decoration: none;
}

.load-more:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.load-more:active {
    font-weight: 500;
}

.blog-image {
   object-fit: cover;
    width: 300px;
    height: 400px;
}

.blog-title {
    font-family: 'raleway', sans-serif;
    color: #486581;
    margin: 15px auto;
    font-weight: bold;
    font-size: 1.4rem;
}

h2 {
    font-family: 'raleway', sans-serif;
    color: #486581;
    margin: 5px auto;
    font-weight: 500;
    font-size: 1.2em;
}

h3 {
    font-family: 'raleway', sans-serif;
    color: #486581;
    margin: 5px auto;
    font-weight:lighter;
    font-size: 1em;
}



.post-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; 
    max-width: 1000px;
    justify-content: center;
    margin: 40px auto 50px auto;
}

.post-list > div {
    padding: 10px; 
}

.blog-image {
    border: 1px solid #ccd4db;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}




@media screen and (min-width: 600px) {
    .post-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    .post-list {
        grid-template-columns: repeat(3, 1fr);
    }
}






