body {
    display: flex;
    flex-direction: column;
    /* height: 100vh;
    min-width: 100%; */
}

.load-more {
    margin: 30px auto;
    font-family: 'poppins', sans-serif;
    border: none;
    color: #486581;
    text-decoration: none;
}

.load-more:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.load-more:active {
    font-weight: 500;
}

.blog-image {
   object-fit: cover;
    width: 300px;
    height: 400px;
}

.blog-title {
    font-family: 'raleway', sans-serif;
    color: #486581;
}

.no-underline {
    text-decoration: none;
}

