
body {
    position: relative;
   margin: 0;
   display: flex;
   flex-direction: column;
   /* justify-content: space-between;  */
   background-repeat: no-repeat; 
   /* background-position: bottom; */
   /* background-size: contain; */
   overflow-x: hidden;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 10px auto 30px auto;
}

h1{
    font-weight: 200;
    font-family: 'raleway', sans-serif;
    margin: 10px;
}

.form-upper-info {
    font-family: 'poppins', sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin: 15px 0px;
   
}

.contact-form {
    /* max-width: 300px; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

:placeholder-shown {
    font-family: 'poppins', sans-serif;
    font-size: 12px;
}

.input {
    border: #486581 solid 1px;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 5px;
    margin: 10px auto;
}

textarea {
    border: #486581 solid 1px;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    padding: 5px;
    margin: 12px auto;
}

.cta-send {
    font-family: 'raleway', sans-serif;
    width: 150px;
    margin: 30px auto 10px auto; 
    padding: 3px 0px;
    border: 2px solid #486581;
    border-radius: 5px;
    color: #486581;
    background-color: white;
    font-weight: bolder;
}

.form-error {
    display: none;
    color: red;
    font-family: 'poppins', sans-serif;
    font-size: 0.8rem;
    text-align: left;
    padding-left: 3px;
  }
  
  .information-message {
    font-family: 'poppins', sans-serif;
    padding: 10px;
    margin: 0px auto 0px auto;
    color: green;
    width: 300px;
    text-align: center;
  }
  
  .check {
    margin: 0px 5px;
    font-weight: bold;
  }







/* footer {
    bottom: 0px;
} */