
body {
    position: relative;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 10px auto 30px auto;
    padding: 10px;
}

h1{
    font-weight: 200;
    font-family: 'raleway', sans-serif;
    margin: 20px auto;
}

.form-upper-info {
    font-family: 'poppins', sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin: 15px 0px;
}

.form-upper-info i {
    font-size: 30px;
    margin: 15px 3px;
}

:placeholder-shown {
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    opacity: 0.7;
}

.input {
    border: var(--blue)solid 1px;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 5px;
    margin: 10px auto;
}

textarea {
    border: var(--blue) solid 1px;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    padding: 5px;
    margin: 12px auto;
}

.cta-send {
    font-family: 'raleway', sans-serif;
    width: 150px;
    margin: 30px auto 10px auto; 
    padding: 3px 0px;
    border: 1px solid var(--blue);
    border-radius: 50px;
    color: var(--blue);
    background-color: var(--white-background);
    cursor: pointer;
    box-sizing: border-box; 
    font-weight: bold;
}

.check {
    color: var(--success-colour);
    margin: 0px 5px;
    font-weight: bold;
}


button.cta-send:active {
    font-weight: bold;
    border: 2px solid var(--blue);
    box-sizing: border-box; 
    padding-top: 2px;  
    padding-bottom: 2px;
}

.form-error {
    display: none;
    color: var(--error-colour);
    font-family: 'poppins', sans-serif;
    font-size: 0.8rem;
    text-align: left;
    padding-left: 3px;
  }
  
  .information-message {
    font-family: 'poppins', sans-serif;
    padding: 10px;
    margin: 0px auto 0px auto;
    color: var(--success-colour);
    width: 300px;
    text-align: center;
  }
  

  @media screen and (max-width: 450px) {
    .input {
        height: 40px;
    }
    
    textarea {
        height: 200px;
    }
    
    .cta-send {
        height: 40px;
        font-size: 17px;
    }

    h1 {
        margin-top: 0;
    }
  }
