/* body {
    height: 100vh;
} */

/* body {
    display: grid;
    grid-template-rows: auto 1fr auto;
} */


@font-face {
    font-family: 'poppinsregular';
    src: url('poppins-regular-webfont.woff2') format('woff2'),
         url('poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@300&display=swap');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../images/Path\ 23.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position-y: 300px;
    background-position-x: 0px;
    background-size: contain;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 10px auto 30px auto;
}

h1{
    font-weight: 200;
    font-family: 'raleway', sans-serif;
    margin: 20px;
}

.form-upper-info {
    font-family: 'poppins', sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin: 15px 0px;
}

.contact-form {
    /* max-width: 300px; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */

}

.contact-form p {
    font-family: 'raleway', sans-serif;
    font-size: 13px;
    text-align: left;
    margin: 0px;
    padding: 10px 0px 5px 3px;
}

.input {
    border: #486581 solid 1px;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    padding: 5px 5px;
}

textarea {
    border: #486581 solid 1px;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    padding: 5px 5px;
}

.cta_send {
    font-family: 'raleway', sans-serif;
    width: 150px;
    margin: 40px auto 0px auto; 
    padding: 3px 0px;
    border: 2px solid #486581;
    border-radius: 5px;
    color: #486581;
    font-weight: bolder;
}

/* footer {
    bottom: 0px;
} */