
.home-mountains {
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    margin: 0px;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

h1 {
    font-weight: 200;
    font-family: 'raleway', sans-serif;
    margin: 30px auto;
}

.home-introduction {
    text-align: left;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    font-family: 'poppins', sans-serif;
}

.carousel-image {
    width: 200px;
    height: 250px;
    margin: 5px;
    overflow: hidden;
    object-fit: cover;
    border: 1px solid var(--border-blog-image);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
} 

.carousel {
    width: 100%;
    position: relative;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 60px auto 20px auto;
}

.loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--loader-background); 
    z-index: 10;
}

.carousel-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.carousel-card {
    margin: 0 10px;
}

.carousel-cards .carousel-card:nth-child(2) .carousel-image{
    width: 250px;
    height: 350px;
}
    
.carousel h1 {
    font-family: 'raleway', sans-serif;
    color: var(--blue);
    font-size: 1.2rem;
    font-weight: bold;
    margin: 7px auto 0px auto;
}

.carousel h2 {
    font-family: 'raleway', sans-serif;
    color: var(--blue);
    font-size: 0.9rem;
    font-weight: 600;
    margin: 5px auto;
}

.carousel h3 {
    font-family: 'raleway', sans-serif;
    color: var(--blue);
    font-size: 0.8rem;
    margin: 3px auto;
    font-weight: 600;
}

.control.prev, .control.next {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);   
    z-index: 10;
    border: 0;
    color: var(--brown);
    font-size: 1.9rem;
}

.control.prev {
    left: 0px;
}

.control.next {
    right: 0px;
}

.carousel-indicators {
    color: var(--brown);
    align-items: center;
    margin: 20px auto 30px auto;
}



.carousel-indicators li {
    position: relative;
    right: 25px;
    list-style: none;
    display: inline-block;
    align-items: center;
    width: 15px;
    height: 15px;
    border: 2px solid var(--brown);;
    border-radius: 50%;
}



.carousel-indicators li.active {
    background-color: var(--brown);
}

.carousel-indicators.invisible {
    display: none;
}

.all-posts {
    margin: 50px auto;
    width: 150px;
}

.all-posts a {
    text-decoration: none;
    color: var(--blue);
} 


@media screen and (max-width: 850px) {

    .home-mountains {
        background-position: top center;
        height: auto;
        background-size: cover; 
    }

    .home-introduction {
        max-width: 500px;
    }

    .carousel {
        max-width: 630px;
    }
    
    .carousel-image {
        width: 150px;
        height: 200px;
    } 

    .carousel-cards .carousel-card:nth-child(2) .carousel-image{
        width: 200px;
        height: 270px;
    }

    .carousel-card {
        margin: 0 5px;
    }

    .carousel h1 {
        font-size: 1rem;
        max-width: 120px;
    }
    
    .carousel h2 {
        font-size: 0.9rem;
    }
    
    .carousel h3 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 600px) {
    .home-introduction {
        max-width: 400px;
        padding: 0px;
    }

    h1 {
       text-align: center;
       
    } 

    .carousel-card:nth-child(1), .carousel-card:nth-child(3){
      display: none;
    }

    .carousel-image {
        width: 400px !important;
        height: 470px !important;
        position: relative;
    }

    .carousel {
        max-width: 400px;
    }

    .control.prev, .control.next {
        top: 40%;
        color: white;
        font-size: 2.4rem;
    }

    .control.prev {
        left: 10px;
    }

    .control.next {
        right: 10px;
    }

    .carousel h1 {
        font-size: 1.3rem;
        max-width: 250px;
        margin: 10px auto;
    }
    
    .carousel h2 {
        font-size: 1.1rem;
    }
    
    .carousel h3 {
        font-size: 1rem;
        margin: 7px auto;
    }
}

@media screen and (max-width: 400px) {
    
    body {
        background-image: none;
        padding: 0;
    }

    .carousel-image {
       width: 100% !important;
       height: auto;
       object-fit: cover;
       display: block;
       margin: 0px 0px 20px 0px;
    }

    .carousel-card {
        padding: 0;
    }

    .carousel {
        max-width: fit-content;
    }

    .home-introduction {
        max-width: fit-content;
        padding: 0px 10px;
    }
}