body {
    background-image: url("../images/Path\ 23.png");
    background-repeat: no-repeat; 
    background-size: contain;
    background-position-y: bottom;
}

.home-mountains {
    background-position: center;
    height: 300px;
    min-width: 100%;
    margin: 0px;
    background-size: cover;
    overflow: hidden;
}

h1 {
    font-weight: 200;
    font-family: 'raleway', sans-serif;
    margin: 30px;
}

.home-introduction {
    text-align: left;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    font-family: 'poppins', sans-serif;
}

.carousel-image {
    width: 200px;
    height: 250px;
    margin: 5px;
    overflow: hidden;
    object-fit: cover;
    border: 1px solid var(--border-blog-image);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
} 

.carousel {
    width: 100%;
    position: relative;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 60px auto 20px auto;
}

.loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--loader-background); 
    z-index: 10;
}


.carousel-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.carousel-card {
    margin: 0 10px;
}

.carousel-cards .carousel-card:nth-child(2) .carousel-image{
    width: 250px;
    height: 350px;
}
    


.carousel h1 {
    font-family: 'raleway', sans-serif;
    color: var(--blue);
    font-size: 1.2rem;
    font-weight: bold;
    margin: 7px auto 0px auto;
}

.carousel h2 {
    font-family: 'raleway', sans-serif;
    color: var(--blue);
    font-size: 0.9rem;
    font-weight: 600;
    margin: 5px auto;
}

.carousel h3 {
    font-family: 'raleway', sans-serif;
    color: var(--blue);
    font-size: 0.8rem;
    margin: 3px auto;
    font-weight: 600;
}

.control.prev, .control.next {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);   
    z-index: 10;
    border: 0;
    color: var(--brown);
    font-size: 1.9rem;
}

.control.prev {
    left: 0px;
}

.control.next {
    right: 0px;
}
/* 
.prev.disabled {
    opacity: 0.5;
    cursor: not-allowed;
} */

/* button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    cursor: default;
} */

.carousel-indicators {
    color: var(--brown);
    align-items: center;
    margin: 20px auto 30px auto;
}

.carousel-indicators li {
    position: relative;
    right: 25px;
    list-style: none;
    display: inline-block;
    align-items: center;
    width: 15px;
    height: 15px;
    border: 2px solid var(--brown);;
    border-radius: 50%;
}

.carousel-indicators li.active {
    background-color: var(--brown);
}

.all-posts {
    margin: 50px auto;
    max-width: 100px;
}

.all-posts a {
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    color: var(--blue);
}

.all-posts:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.all-posts:active {
    font-weight: 500;
} 