@import "imports/variables.css";
@import "imports/layout.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/Path\ 23.png");
    background-repeat: no-repeat; 
    background-size: contain;
    background-position-y: bottom;
}

.header-upper {
    display: none;
    background-color: var(--blue);
    box-shadow: var(--box-shadow);
}

.header-upper.active {
    display: block;
}

.hamburger.fa-bars.x::before {
    content: "\f00d"; 
    transition: transform 0.3s ease;
}



nav ul {
    margin: 0px;
    padding: 0px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 15px 35px;
    margin: 0px;
    font-family: 'raleway', sans-serif;
}

nav a {
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-background);
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.current {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.line {
    flex: 1; 
    height: 1px; 
    background-color: var(--brown); 
}

.header-logo {
    height: auto;
    display: block;
    margin: 20px auto;
    padding: 0 10px;
}

.header-logo img {
    width: 100%;
    max-width: 160px;  
    display: block;
    margin: 0 auto;
}

main h1, p{
    color: var(--blue);
} 

.no-underline {
    text-decoration: none;
}

footer {
    font-family: 'raleway' sans-serif;
    background-color: var(--blue);
    font-size: 0.9em;
}

footer p {
    color: var(--white-background);
    margin: 0px;
    padding: 5px;
}

.loading {
    display: none;
    border: 6px solid var(--loader-brown);
    border-top: 6px solid var(--loader-blue);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: rotate 2s linear infinite;
    margin: 100px auto;
  }

div.loading {
    display: block;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 100px;
    background-color: var(--brown);
    color: var(--white-background);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 1000; 
}

.scroll-to-top:hover {
    background-color: var(--blue);
}
  
.error {
    font-family: 'poppins', sans-serif;
    color: var(--error-colour);
    font-size: 1.3em;
    padding: 0px 10px;
    text-align: center !important;
  }

  @media (max-width: 800px) {
    .header-logo img {
        max-width: 120px;
    }
  }

  @media (max-width: 600px) { 
    .hamburger {
        display: block;
        color: white;
        background-color: var(--blue);
        border: none;
        font-size: 26px;
        cursor: pointer;
        margin: 0px auto;
        box-sizing: border-box;
        padding: 20px;
    }

 

     .header-upper {
        flex-direction: column; 
        position: absolute;
        z-index: 1000;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 3s ease-in-out;
        justify-self: center;
        background-color: var(--blue);
        padding: 10px;
        display: none;
    } 

    .header-upper.active {
        max-height: 500px; 
    }

    nav li {
        display: block;
        text-align: center;
        padding: 10px auto;
    }
}


@media (min-width: 601px) {
    .fa-bars {
        display: none;
    }

    .header-upper {
        display: block; 
    }
}