:root {
    --white-background: white;
    --blue: #486581;
    --brown: #685240;
    
    --loader-brown: #685240;
    --loader-blue: #448ed4;
    --loader-background: rgba(255, 255, 255, 0.7);

    --border-colour: rgb(121, 118, 118);
    --border-blog-image: #ccd4db;
    --error-colour: red;
    --success-colour: green;

    --box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  }